.scroll{
    height: 900px;
    width: 200px;
    border: 2px solid red;
    overflow: scroll;
    background-color: #ccc;
    color: black;
    font-weight: bold;
    padding: 20px;
}

.buttonScroll{
    height: 20px;
    width: 20px;
    display: none;
    border-radius: 25%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
    background-color: red;
}